
@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<br />
<br />
<h4>
    اورمیا نیوز که کار خود را از سال ۱۳۹۷ شروع کرده است تلاش دارد آخرین تحلیل‌ها و گزارش‌ها از مهم‌ترین اتفاقات روز ایران و جهان را به صورت آنلاین در اختیار مخاطبان خود قرار دهد.

    مشی رسانه‌‌ای این سایت، تحلیلی - خبری خواهد بود و اعضای تحریریه این مجموعه می‌کوشند از قالب ظاهری خبرها فراتر رفته و به زوایای پنهان و آشکار حوادث سرک بکشند و با کندوکاو بیشتر، ناگفته‌ها و وجوه نامکشوف وقایع و حوادث را بیابند.

    این مجموعه رسانه‌ای خود را در امر اطلاع‌رسانی مستقل می‌داند و در چارچوب قوانین نظام جمهوری اسلامی و تعهد به آرمان‌های انقلاب اسلامی و امام راحل و شهیدان انقلاب، از درغلتیدن به تمایلات حزبی و جناحی پرهیز دارد.

    این مجموعه اما نقد و تحلیل کارشناسانه دستگاه‌ها، عملکرد مسئولان و احزاب را وظیفه ذاتی خود می‌پندارد و آن را با هدف ارتقای دانایی جامعه، حق پرسشگری شهروندان و وظیفه پاسخگویی مسئولان با جدیت دنبال می‌کند.

    تحریریه اورمیا نیوز همچنین با بهره‌مندی از همکاران حرفه‌ای و با سابقه می‌کوشد عرصه‌های جدیدی در اطلاع‌رسانی بهنگام و شفاف بجوید و بگشاید.
</h4>
<br />
<br />

